body {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  background-color: #CDD0D1;
  background-color: #F8F8F8;
  text-align: center;
}

header {
  padding-top: 5%;
}

#container-fluid {
    position: relative;
    max-height: 100vh;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

.container-fluid p {
  font-style: italic;
  font-size: 20px;
}

#quote-box {
  display: inline-block;
  border: solid 2px;
  border-radius: 5px;
  background-color: #292A29;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  border-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  height: auto;
  color: #50EA11;
  font-family: Monospace;
}


.text {
  font-size: 22px;
}

.author {
  font-size: 20px;
  font-style: italic;
}

#buttons{
  position: relative;
  padding-top: 30px;
}

#new-quote{
width: 150px
}

#tweet-quote{
width: 150px;
}

#footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 2.5rem;
  padding-bottom: 5%;
}

#footer p {
  font-size: 15px;
}
